<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>

  <div class="about content">
    <h2>About Us</h2>
    <p>Blog Box is a website for all those who loves to write and want to write</p><br>
    <p>You can write anything related to any topic and post it here.</p>
  </div>

  <%- include("./partials/footer.ejs") %>
</body>
</html>